apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "grafana.fullname" . }}
  labels:
    {{- include "grafana.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "grafana.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "grafana.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 3000
              name: http
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: {{ .Values.admin.user | quote }}
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: {{ .Values.admin.password | quote }}
          volumeMounts:
            - name: grafana-storage
              mountPath: /var/lib/grafana
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: grafana-storage
          persistentVolumeClaim:
            claimName: {{ include "grafana.fullname" . }}-pvc