replicaCount: 1

image:
  repository: "redis"
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 6379

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "128Mi"
    cpu: "100m"


persistence:
  append only: "yes"