replicaCount: 1

image:
  repository: postgres
  pullPolicy: IfNotPresent
  tag: "15"


db:
  user: "postgres"
  password: "root"
  name: "bookdb"


persistence:
  size: 1Gi
  accessMode: ReadWriteOnce

service:
  type: ClusterIP
  port: 5432

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "300m"