namespace: monitoring

zipkin:
  enabled: true
  replicaCount: 1
  image:
    repository: openzipkin/zipkin
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 9411

loki:
  enabled: true
  replicaCount: 1
  image:
    repository: grafana/loki
    tag: "2.9.4"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 3100
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 2Gi
    mountPath: /loki

promtail:
  enabled: true
  kind: DaemonSet
  image:
    repository: grafana/promtail
    tag: "2.9.4"
    pullPolicy: IfNotPresent

  config:
    serverPort: 9080
    lokiUrl: http://loki:3100/loki/api/v1/push
