apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}-config
data:
  SPRING_DATASOURCE_URL: {{ .Values.config.datasourceUrl | quote }}
  SPRING_RABBITMQ_HOST: {{ .Values.config.rabbitmqHost | quote }}
  SPRING_REDIS_HOST: {{ .Values.config.redisHost | quote }}
