replicaCount: 1

image:
  repository: "rabbitmq"
  tag: "3-management"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  amqpPort: 5672
  managementPort: 15672

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "300m"


persistence:
  enabled: false
  size: "2Gi"